<%= simple_form_for([@event, @post, @post.comments.build]) do |f| %>
  <input type="hidden" id="post_Id" name="post_Id" value="<% @post.id %>">

  <form>
    <div class="field">
      <div class="control">
        <label class="label">Content</label>
        <%= f.text_area :content, class: "input is-large textarea is-info", rows: "3" %>
      </div>
    </div>


    <%= f.submit "Create Event", class: "button is-block is-info is-large is-fullwidth" %>


  </form>

<% end %>


