<div class="box has-text-centered">
  <div class="section">

    <h1 class="is-size-4">Looks you don't yet have a profile</h1>
  </div>
  <div class="buttons is-centered">
    <%= link_to 'Create Profile', new_profile_path, class: "button is-dark" %>

  </div>
</div>
