<div class="box has-text-centered">
  <div class="section">

    <h1 class="is-size-4">Looks like you're not signed in</h1>
  </div>
  <div class="buttons is-centered">

    <%= link_to 'Sign In', new_user_session_path, class: "button is-dark" %>
    <%= link_to 'Sign Up', new_user_registration_path, class: "button is-dark" %>
  </div>
</div>
