<section class="section">
  <div class="columns">
    <div class="column is-one-quarter">

      <% if user_signed_in? && current_user.profile != nil %>
        <%= render 'profiles/profile' %>
      <% elsif user_signed_in? && current_user.profile == nil %>
        <%= render 'home/create_account' %>
      <% else %>
        <%= render 'home/sign_in' %>
      <% end %>
    </div>
    <div class="column">
      <%= render 'home/feed' %>
    </div>
  </div>
</section>
