<div class="columns has-text-centered">
  <div class="column is-one-quarter is-mobile">

    <% if user_signed_in? && current_user.profile != nil %>
      <%= render 'profiles/profile' %>
    <% else %>
      ALTERNITIVE
  <% end %>

  </div>
  <div class="column">
    <%= render 'feed' %>
  </div>
</div>
