<h1>Home#feed</h1>
<p>Find me in app/views/home/feed.html.erb</p>
<h1 class="has-text-centered">Events</h1>
<div class="columns has-text-centered">
  <div class="column is-one-third">
    <h2>Profile Partial</h2>
  </div>
  <div class="column">
    <h2>Events Feed</h2>
    <%= render 'feed' %>
  </div>

</div>
