<h1 class="has-text-centered">Events</h1>
<div class="columns has-text-centered">
  <div class="column is-one-third">
    <h2>Profile Partial</h2>
  </div>
  <div class="column">
    <h2>Events Feed</h2>
    <%= render 'events/feed' %>
  </div>

</div>
