<h1>Event#Show -  <%= @event.title %></h1>
<div class="columns has-text-centered">
  <div class="column is-one-third">
  </div>
  <div class="column">
    <h2>Event Feed</h2>
    <%= render 'posts/new' %>
    <%= render 'events/eventFeed' %>
    <%= render 'comments/new' %>

  </div>
</div>
