<h1>Event#Show - This <%= @event.title %></h1> - Working -YES
<div class="columns has-text-centered">
  <div class="column is-one-third">
  </div>
  <div class="column">
    <%= render 'events/event_feed' %>
  </div>
</div>


