<!--<h1>Comment Count:<%#= @comments.count %></h1> Comment see's this wrong post/feed-->

<% @comments.each do |comment| %>
  <div class="box">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <strong><%= comment.content %></strong><br/>
        </div>
      </div>
    </article>
  </div>
<% end %>