<footer class="footer">
  <div class="content has-text-centered">
    <h1>Portfolio Portal</h1>
    <i class="fa fa-facebook-official"></i>
    <i class="fa fa-instagram "></i>
    <i class="fa fa-twitter "></i>
    <i class="fa fa-linkedin "></i>
  </div>
</footer>